.navbar {
  background-color: black;
  display: flex;
  min-height: 8vh;
  list-style-type: none;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 2rem;
  transition: 0.3s;
}

.navbar a:hover {
  color: #999;
}
